div,body,table,a,img,ul,li{
    padding: 0;
    margin: 0;
}

.img {
    width: 100%;
}

#title {
    display: block;
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 40px;
    color: white;
}

#add {
    display: block;
    float: left;
    width: 100%;
    font-size: 20px;
    background-color: chocolate;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

#login {
    width:80%;
    margin: auto;
    margin-top: 100px;
}

.bt_login{
    font-size: 20px;
    width: 100%;
}

.bt_login1{
    font-size: 16px;
    width: 80%;
}

.input {
    width: 100%;
    font-size: 20px;
}

#head {
    width: 100%;
    height: 70px;
    background-color: cornflowerblue;
}

#content {
    width: 90%;
    min-height: 530px;
    margin: auto;
}

#preview {
    display: block;
    width: 50%;
}